<ion-content>
  <main id="main-container">
    <ion-card *ngIf="!useForm">
      <ion-item class="ion-no-padding" lines="none">
        <ion-title>Clientes</ion-title>
        <ion-button expand="block" color="dark" [routerLink]="['/customers', 'new']">Cadastrar</ion-button>
      </ion-item>

      <ion-grid>
        <ion-row class="bills-rows-container">
          <ion-col size="6"><ion-label>Nome</ion-label></ion-col>
          <ion-col size="1.33" class="ion-text-center"><ion-label>Pagos</ion-label></ion-col>
          <ion-col size="1.33" class="ion-text-center"><ion-label>Abertos</ion-label></ion-col>
          <ion-col size="1.33" class="ion-text-center"><ion-label>Atrasados</ion-label></ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
        
        <ion-list class="ion-no-padding" *ngIf="customers.length > 0">
          <ion-row class="bills-rows-content" *ngFor="let customer of customers">
            <ion-col size="6"><ion-label>{{ customer.name }}</ion-label></ion-col>
            <ion-col size="1.33" class="ion-text-center"><ion-label><ion-chip color="success">{{ customer.paid }}</ion-chip></ion-label></ion-col>
            <ion-col size="1.33" class="ion-text-center"><ion-label><ion-chip>{{ customer.open }}</ion-chip></ion-label></ion-col>
            <ion-col size="1.33" class="ion-text-center"><ion-label><ion-chip color="danger">{{ customer.overdue }}</ion-chip></ion-label></ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-button [routerLink]="['/bills', customer.id]">
                  <ion-icon name="pencil"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="deleteCustomer(customer.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>

        
      </ion-grid>
    </ion-card>

    <ng-container *ngIf="useForm">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Clientes</ion-card-title>
          </ion-card-header>
      
          <ion-card-content class="ion-no-padding">
            <ion-input class="ion-margin-bottom" label="Nome" label-placement="floating" fill="outline" type="text" formControlName="name"></ion-input>
          </ion-card-content>
          
          <ion-item class="ion-no-padding" lines="none">
            <ion-button size="lg" fill="solid" color="dark" type="submit">{{ id ? 'Editar' : 'Criar' }}</ion-button>
            <ion-button size="lg" fill="solid" (click)="cancel()">Cancelar</ion-button>
          </ion-item>
        </ion-card>
      </form>
    </ng-container>

  </main>
</ion-content>
