<ion-content>
  <main id="main-container">
    <ion-card *ngIf="!useForm">
      <ion-item class="ion-no-padding" lines="none">
        <ion-title>Cobranças/Cliente teste</ion-title>
        <ion-button expand="block" color="dark" [routerLink]="['/bills', customerId, 'new']">Cadastrar</ion-button>
        <ion-button expand="block" color="danger" [routerLink]="['/customers']">Cancelar</ion-button>
      </ion-item>

      <ion-grid>
        <ion-row class="bills-rows-container">
          <ion-col size="6"><ion-label>Descrição</ion-label></ion-col>
          <ion-col size="2" class="ion-text-center"><ion-label>Valor</ion-label></ion-col>
          <ion-col size="2" class="ion-text-center"><ion-label>Vencimento</ion-label></ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
        
        <ion-list class="ion-no-padding">
          <ion-row class="bills-rows-content" *ngFor="let bill of bills">
            <ion-col size="6"><ion-label>{{ bill.description }}</ion-label></ion-col>
            <ion-col size="2" class="ion-text-center"><ion-label>{{ bill.value }}</ion-label></ion-col>
            <ion-col size="2" class="ion-text-center"><ion-label>{{ bill.dueDate }}</ion-label></ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-button (click)="goToBill(bill.id)">
                  <ion-icon name="pencil"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="deleteBill(bill.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>

        
      </ion-grid>
    </ion-card>

    <ng-container *ngIf="useForm">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Faturas</ion-card-title>
          </ion-card-header>
      
          <ion-card-content class="ion-no-padding">
            <ion-input class="ion-margin-bottom" label="Descrição" label-placement="floating" fill="outline" type="text"  formControlName="description"></ion-input>
            <ion-input class="ion-margin-bottom" label="Data de Vencimento" label-placement="floating" fill="outline" type="date"  formControlName="dueDate"></ion-input>
            <ion-input class="ion-margin-bottom" label="Valor" label-placement="floating" fill="outline" type="number"  formControlName="value"></ion-input>
            <ion-input class="ion-margin-bottom" label="Status" label-placement="floating" fill="outline" type="text" [disabled]="true" style="pointer-events: none; opacity: .5;" formControlName="status"></ion-input>
          </ion-card-content>
          
          <ion-item class="ion-no-padding" lines="none">
            <ion-button size="lg" fill="solid" color="dark" type="submit">{{ id ? 'Editar' : 'Criar' }}</ion-button>
            <ion-button size="lg" fill="solid" (click)="cancel()">Cancelar</ion-button>
          </ion-item>
        </ion-card>
      </form>
    </ng-container>

  </main>
</ion-content>
